/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$background-color: rgb(175, 175, 175);
$hover-color: #202020;
$background-color-2: #ff7b00;
$background-color-3: rgb(238, 236, 236);

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$paragraph-font: 'Roboto', sans-serif;

/* Shadows */
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;