.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color-2;
  color: white;
  border-radius: 3px;
  padding: 0 10px;
  min-height: 40px;
  min-width: 40px;
  text-decoration: none;
  margin-left: 10px;
  
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

@media (max-width: 768px) {
  .btn-refresh {
    padding: 0 10px;
    min-height: 30px;
    min-width: 30px;
  }
}