.personal-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 10px 0;
  border-bottom: 1.5px solid $background-color;
}
  
.social-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 10px 0;
  border-bottom: 1.5px solid $background-color;
}

.wallet-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 10px 0;
  border-bottom: 1.5px solid $background-color;
}

.password-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 10px 0;
  border-bottom: 1.5px solid $background-color;
}
  
form.form-example {
  display: table;
}
  
div.form-example {
  display: table-row;
    
}

label {
  height: 35px;
  width: 200px;
  display: table-cell;
  margin-bottom: 30px;
  padding-right: 70px;
  font-weight: bold;
}

input {
  height: 35px;
  width: 200px;
  display: table-cell;
  margin-bottom: 30px;
  border: 1px solid $background-color;
  border-radius: 3px;
}
  

.btn-save {
  padding: 0 50px;
}

@media (max-width: 768px) {
  .personal-form{
    min-width: 55%;
  }
}
  
@media (min-width: 769px) and (max-width: 991px) {
  .personal-form {
    min-width: 60%;
  }
}