table {
  font-family: $paragraph-font;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  cursor: pointer;

  th {
    border-bottom: 1.5px solid $background-color;
    text-align: left;
    padding: 20px 100px;

    &:hover {
      border: 1.5px solid;
      border-radius: 3px;
      background-color: $background-color-3;
      color: $paragraph-color;

    }
  }

  td {
    border-bottom: 1.5px solid $background-color;
    text-align: left;
    padding: 20px 100px;
    color: $paragraph-color;
  }

  tr:hover {
    background-color: $background-color-3;
  }
}
  